<div class="header">
    <span>Board Name: {{board?.name}}, Board id: {{board?.id}}, Status: {{board?.status}}</span>
    <span>Created at: {{board?.createdAt | date: "dd.MM.yyyy, HH:mm"}}, Updated at: {{board?.updatedAt | date: "dd.MM.yyyy, HH:mm"}}</span>
</div>


<div class="task-overview">
  <div *ngFor="let task of tasks$ | async">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ task.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Created at: {{ task.createdAt | date: "dd.MM.yyyy, HH:mm" }}</p>
      </mat-card-content>
      <mat-card-footer class="example-card-footer">
        <mat-chip-set aria-label="Chihuahua traits">
          <mat-chip>{{ task.status }}</mat-chip>
          <mat-chip>Open</mat-chip>
          <mat-chip (click)="deleteTask(task.id)">Delete</mat-chip>
        </mat-chip-set>
      </mat-card-footer>
    </mat-card>
  </div>
</div>